@import '~@fortawesome/fontawesome-free/css/all.min.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width:100% ;
}

ul {
    list-style: none;
}

.fab {
    margin: 0 1rem;
}

//COLORI
$bianco: white;
$cinder: #171520;
$silver:#bbbcbd;
$mountain:#20ac97;
$corduroy:#6b6c6c;
$crimson:#e2251a;
$cafe:#77440e;
$brass:#ca935f;
$tangerine:#f38f01;
$congress:#044689;
//MEDIAN
$ebony:#232a33;
$atene:#ebe9ed;
$spicy:#8a614a;
$chateau:#9aa2a6;
$corn:#a38664;
//MATERIAL
$marino:#43779d;
$quicksand:#c2a394;
$jungle:#26aa94;
$vulcan:#141423;
$amour:#fcf7fb;


